# Data Validation

In [1]:
# Import Libraries

# data manipulation and analysis
import pandas as pd

# multi-dimensional arrays and matrices
# mathematical functions
import numpy as np

# parsing & processing Python Source Code
# convert strings of Python code into executable code
import ast # Abstract Syntax Trees (AST) module

# data visualization
import matplotlib.pyplot as plt # creating static, animated, and interactive visualizations
import seaborn as sns # interface for drawing & statistical graphics
import mplcursors # interactive data cursors
import plotly.express as px

# database adapter for Python
import psycopg2 # allows interaction with PostgreSQL
import pandas as pd

# probability distributions and statistical functions
from scipy.stats import norm 
from scipy.stats import ttest_ind
from scipy.stats import f_oneway
from scipy import stats
import statsmodels.api as sm
import statsmodels.formula.api as smf

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
# Load Data
df_1 = pd.read_csv(r'C:\Users\ashwi\Documents\Data Analytics\Portfolio\IGN VIdeo Game Rarings\SQL\sql_cleaned_games.csv', index_col=False, delimiter=',')

## Data Inspection

### Score

In [16]:
# find min score min and max
min_score = df_1['score'].min()
max_score = df_1['score'].max()

print(f'minimum score: {min_score}')
print(f'maximum score: {max_score}')

minimum score: 0.5
maximum score: 10.0

In [15]:
## Data Integrity

invalid_score = df_1[df_1['score'] < 0]
if not invalid_score.empty:
    print("Invalid score values found:")
    print(invalid_score)

### Release Year

In [13]:
# find min release year and max
min_rel_yr = df_1['release_year'].min()
max_rel_yr = df_1['release_year'].max()

print(f'minimum release year: {min_rel_yr}')
print(f'maximum release year: {max_rel_yr}')

minimum release year: 1970
maximum release year: 2016

In [17]:
invalid_release_year = df_1[df_1['release_year'] < 0]
if not invalid_release_year.empty:
    print("Invalid release_year values found:")
    print(invalid_release_year)

### Release Month

In [19]:
# find min release year and max
min_rel_mon = df_1['release_month'].min()
max_rel_mon = df_1['release_month'].max()

print(f'minimum release month: {min_rel_mon}')
print(f'maximum release month: {max_rel_mon}')

minimum release month: 1
maximum release month: 12

In [18]:
invalid_release_month = df_1[df_1['release_month'] < 0]
if not invalid_release_month.empty:
    print("Invalid release_month values found:")
    print(invalid_release_month)

### Release Day

In [21]:
# find min release year and max
min_rel_day = df_1['release_day'].min()
max_rel_day = df_1['release_day'].max()

print(f'minimum release day: {min_rel_day}')
print(f'maximum release day: {max_rel_day}')

minimum release day: 1
maximum release day: 31

In [20]:
invalid_release_day = df_1[df_1['release_day'] < 0]
if not invalid_release_day.empty:
    print("Invalid release_day values found:")
    print(invalid_release_day)

## Duplicates

In [28]:
df_1[df_1.duplicated()].head(1)

,title,score,score_phrase,platform,genre,release_year,release_month,release_day
174,Call of Duty: Modern Warfare 2 (Hardened Edition),9.5,Amazing,PlayStation 3,Shooter,2009,11,10

In [29]:
# SHow unique duplicates

In [30]:
# count per column