# Data Cleansing

In [101]:
# Import Libraries

# data manipulation and analysis
import pandas as pd

# multi-dimensional arrays and matrices
# mathematical functions
import numpy as np

# parsing & processing Python Source Code
# convert strings of Python code into executable code
import ast # Abstract Syntax Trees (AST) module

# data visualization
import matplotlib.pyplot as plt # creating static, animated, and interactive visualizations
import seaborn as sns # interface for drawing & statistical graphics
import mplcursors # interactive data cursors
import plotly.express as px

# database adapter for Python
import psycopg2 # allows interaction with PostgreSQL
import pandas as pd

# probability distributions and statistical functions
from scipy.stats import norm 
from scipy.stats import ttest_ind
from scipy.stats import f_oneway
from scipy import stats
import statsmodels.api as sm
import statsmodels.formula.api as smf

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

from tabulate import tabulate

In [102]:
df_2 = pd.read_csv(r'C:\Users\ashwi\Documents\Data Analytics\Portfolio\IGN VIdeo Game Rarings\Python\df_2.csv', index_col=False, delimiter=',')

In [103]:
df_2.head(1)

,title,score,score_phrase,platform,genre,release_year,release_month,release_day
0,Checkered Flag,10.0,Masterpiece,Lynx,Racing,1999,7,6

In [104]:
df_2.columns

Index(['title', 'score', 'score_phrase', 'platform', 'genre', 'release_year',
       'release_month', 'release_day'],
      dtype='object')

In [105]:
df_2.dtypes

title             object
score            float64
score_phrase      object
platform          object
genre             object
release_year       int64
release_month      int64
release_day        int64
dtype: object

In [106]:
df_2.shape

(18541, 8)

## Identify & Fill Missing Values

In [107]:
missing_values = df_2.isnull().sum()
missing_values

title            0
score            0
score_phrase     0
platform         0
genre            0
release_year     0
release_month    0
release_day      0
dtype: int64

Possible Methods to fill in
- Imputation
- Removal
- Flagging

## Duplicates

In [108]:
# returns a boolean Series indicating whether each row is a duplicate of a previous row
duplicates = df_2.duplicated()
duplicates

0        False
1        False
2        False
3        False
4        False
         ...
18536    False
18537    False
18538    False
18539    False
18540    False
Length: 18541, dtype: bool

In [109]:
# Identify duplicates
duplicates = df_2.duplicated()

# Filter and display only duplicate rows
duplicate_rows = df_2[duplicates]

if not duplicate_rows.empty:
    print("Duplicate rows found:")
    print(duplicate_rows)
else:
    print("No duplicate rows found.")

No duplicate rows found.

In [111]:
# Save df_2 to a CSV file
df_2.to_csv('df_2.csv', sep=',', index=False)