# Data Cleansing

In [11]:
# Import Libraries

# data manipulation and analysis
import pandas as pd

# multi-dimensional arrays and matrices
# mathematical functions
import numpy as np

# parsing & processing Python Source Code
# convert strings of Python code into executable code
import ast # Abstract Syntax Trees (AST) module

# data visualization
import matplotlib.pyplot as plt # creating static, animated, and interactive visualizations
import seaborn as sns # interface for drawing & statistical graphics
import mplcursors # interactive data cursors
import plotly.express as px

# database adapter for Python
import psycopg2 # allows interaction with PostgreSQL
import pandas as pd

# probability distributions and statistical functions
from scipy.stats import norm 
from scipy.stats import ttest_ind
from scipy.stats import f_oneway
from scipy import stats
import statsmodels.api as sm
import statsmodels.formula.api as smf

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

from tabulate import tabulate

In [17]:
df_2 = pd.read_csv(r'C:\Users\ashwi\Documents\Data Analytics\Portfolio\IGN VIdeo Game Rarings\Python\df_2.csv', index_col=False, delimiter=',')

In [18]:
df_2.head(1)

,title,score,score_phrase,platform,genre,release_year,release_month,release_day
0,Checkered Flag,10.0,Masterpiece,Lynx,Racing,1999,7,6

In [19]:
df_2.columns

Index(['title', 'score', 'score_phrase', 'platform', 'genre', 'release_year',
       'release_month', 'release_day'],
      dtype='object')

In [20]:
df_2.dtypes

title             object
score            float64
score_phrase      object
platform          object
genre             object
release_year       int64
release_month      int64
release_day        int64
dtype: object

In [21]:
df_2.shape

(18541, 8)