# Data Validation

In [83]:
# Import Libraries

# data manipulation and analysis
import pandas as pd

# multi-dimensional arrays and matrices
# mathematical functions
import numpy as np

# parsing & processing Python Source Code
# convert strings of Python code into executable code
import ast # Abstract Syntax Trees (AST) module

# data visualization
import matplotlib.pyplot as plt # creating static, animated, and interactive visualizations
import seaborn as sns # interface for drawing & statistical graphics
import mplcursors # interactive data cursors
import plotly.express as px

# database adapter for Python
import psycopg2 # allows interaction with PostgreSQL
import pandas as pd

# probability distributions and statistical functions
from scipy.stats import norm 
from scipy.stats import ttest_ind
from scipy.stats import f_oneway
from scipy import stats
import statsmodels.api as sm
import statsmodels.formula.api as smf

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

from tabulate import tabulate

In [84]:
# Load Data
df_1 = pd.read_csv(r'C:\Users\ashwi\Documents\Data Analytics\Portfolio\IGN VIdeo Game Rarings\SQL\sql_cleaned_games.csv', index_col=False, delimiter=',')

## Data Inspection

### Score

In [85]:
# find min score min and max
min_score = df_1['score'].min()
max_score = df_1['score'].max()

print(f'minimum score: {min_score}')
print(f'maximum score: {max_score}')

minimum score: 0.5
maximum score: 10.0

In [86]:
## Data Integrity

invalid_score = df_1[df_1['score'] < 0]
if not invalid_score.empty:
    print("Invalid score values found:")
    print(invalid_score)

### Release Year

In [87]:
# find min release year and max
min_rel_yr = df_1['release_year'].min()
max_rel_yr = df_1['release_year'].max()

print(f'minimum release year: {min_rel_yr}')
print(f'maximum release year: {max_rel_yr}')

minimum release year: 1970
maximum release year: 2016

In [88]:
invalid_release_year = df_1[df_1['release_year'] < 0]
if not invalid_release_year.empty:
    print("Invalid release_year values found:")
    print(invalid_release_year)

### Release Month

In [89]:
# find min release year and max
min_rel_mon = df_1['release_month'].min()
max_rel_mon = df_1['release_month'].max()

print(f'minimum release month: {min_rel_mon}')
print(f'maximum release month: {max_rel_mon}')

minimum release month: 1
maximum release month: 12

In [90]:
invalid_release_month = df_1[df_1['release_month'] < 0]
if not invalid_release_month.empty:
    print("Invalid release_month values found:")
    print(invalid_release_month)

### Release Day

In [91]:
# find min release year and max
min_rel_day = df_1['release_day'].min()
max_rel_day = df_1['release_day'].max()

print(f'minimum release day: {min_rel_day}')
print(f'maximum release day: {max_rel_day}')

minimum release day: 1
maximum release day: 31

In [92]:
invalid_release_day = df_1[df_1['release_day'] < 0]
if not invalid_release_day.empty:
    print("Invalid release_day values found:")
    print(invalid_release_day)

## Genre

In [93]:
df_1

,title,score,score_phrase,platform,genre,release_year,release_month,release_day
0,Checkered Flag,10.0,Masterpiece,Lynx,Racing,1999,7,6
1,Chrono Trigger,10.0,Masterpiece,Wii,"Action, RPG",2011,5,25
2,Dragon Warrior III,10.0,Masterpiece,Game Boy Color,RPG,2001,7,20
3,Grand Theft Auto IV,10.0,Masterpiece,Xbox 360,"Action, Adventure",2008,4,25
4,Grand Theft Auto IV,10.0,Masterpiece,PlayStation 3,"Action, Adventure",2008,4,25
...,...,...,...,...,...,...,...,...
18620,The Crow: City of Angels,1.0,Unbearable,PlayStation,Action,1997,3,11
18621,The Simpsons Wrestling,1.0,Unbearable,PlayStation,Action,2001,4,6
18622,Action Girlz Racing,0.8,Disaster,Wii,Racing,2009,2,11
18623,Extreme PaintBrawl,0.7,Disaster,PC,Action,1998,10,29
18624,Looney Tunes: Back in Action: Zany Race,0.5,Disaster,Wireless,Racing,2003,10,28

In [94]:
# split the rows with multiple genres into separate rows
df_1_split_genre = df_1.assign(genre=df_1['genre'].str.split(', ')).explode('genre')

# Then, drop duplicates keeping only the first occurrence, effectively keeping only one genre per row
df_unique_genre = df_1_split_genre.drop_duplicates(subset=df_1_split_genre.columns.difference(['genre']), keep='first')

In [95]:
df_1 = df_unique_genre

In [96]:
df_1

,title,score,score_phrase,platform,genre,release_year,release_month,release_day
0,Checkered Flag,10.0,Masterpiece,Lynx,Racing,1999,7,6
1,Chrono Trigger,10.0,Masterpiece,Wii,Action,2011,5,25
2,Dragon Warrior III,10.0,Masterpiece,Game Boy Color,RPG,2001,7,20
3,Grand Theft Auto IV,10.0,Masterpiece,Xbox 360,Action,2008,4,25
4,Grand Theft Auto IV,10.0,Masterpiece,PlayStation 3,Action,2008,4,25
...,...,...,...,...,...,...,...,...
18620,The Crow: City of Angels,1.0,Unbearable,PlayStation,Action,1997,3,11
18621,The Simpsons Wrestling,1.0,Unbearable,PlayStation,Action,2001,4,6
18622,Action Girlz Racing,0.8,Disaster,Wii,Racing,2009,2,11
18623,Extreme PaintBrawl,0.7,Disaster,PC,Action,1998,10,29
18624,Looney Tunes: Back in Action: Zany Race,0.5,Disaster,Wireless,Racing,2003,10,28

## Duplicates

In [97]:
# Count duplicate rows
num_duplicates = df_1.duplicated().sum()

num_duplicates

0

In [98]:
# Find duplicate rows
duplicate_rows = df_1[df_1.duplicated(keep=False)]
duplicate_rows

Empty DataFrame
Columns: [title, score, score_phrase, platform, genre, release_year, release_month, release_day]
Index: []

In [99]:
# Drop duplicate rows within the duplicate_rows DataFrame
unique_within_duplicates = duplicate_rows.drop_duplicates()

# Find rows that are unique within the duplicate_rows DataFrame
# These are the rows that appear only once after dropping duplicates
unique_rows_from_duplicates = unique_within_duplicates[
    ~unique_within_duplicates.duplicated(keep=False)
]

# Display the result
unique_rows_from_duplicates

Empty DataFrame
Columns: [title, score, score_phrase, platform, genre, release_year, release_month, release_day]
Index: []

In [100]:
unique_rows_from_duplicates.shape

(0, 8)

In [101]:
df_1.dtypes

title             object
score            float64
score_phrase      object
platform          object
genre             object
release_year       int64
release_month      int64
release_day        int64
dtype: object

In [102]:
# Step 1: Find duplicate rows
duplicate_rows = df_1[df_1.duplicated(keep=False)]

# Step 2: Find unique rows within the duplicate rows
unique_within_duplicates = duplicate_rows.drop_duplicates()

# Step 3: Remove unique rows within the duplicate rows from the original DataFrame
df_2 = df_1[~df_1.isin(unique_within_duplicates)].dropna()

# Display the result
df_2

,title,score,score_phrase,platform,genre,release_year,release_month,release_day
0,Checkered Flag,10.0,Masterpiece,Lynx,Racing,1999,7,6
1,Chrono Trigger,10.0,Masterpiece,Wii,Action,2011,5,25
2,Dragon Warrior III,10.0,Masterpiece,Game Boy Color,RPG,2001,7,20
3,Grand Theft Auto IV,10.0,Masterpiece,Xbox 360,Action,2008,4,25
4,Grand Theft Auto IV,10.0,Masterpiece,PlayStation 3,Action,2008,4,25
...,...,...,...,...,...,...,...,...
18620,The Crow: City of Angels,1.0,Unbearable,PlayStation,Action,1997,3,11
18621,The Simpsons Wrestling,1.0,Unbearable,PlayStation,Action,2001,4,6
18622,Action Girlz Racing,0.8,Disaster,Wii,Racing,2009,2,11
18623,Extreme PaintBrawl,0.7,Disaster,PC,Action,1998,10,29
18624,Looney Tunes: Back in Action: Zany Race,0.5,Disaster,Wireless,Racing,2003,10,28

In [103]:
df_2.dtypes

title             object
score            float64
score_phrase      object
platform          object
genre             object
release_year       int64
release_month      int64
release_day        int64
dtype: object

In [104]:
df_2.shape

(18541, 8)

In [105]:
df_2.duplicated().sum()

0

## Data Integrity

In [106]:
df_2.columns

Index(['title', 'score', 'score_phrase', 'platform', 'genre', 'release_year',
       'release_month', 'release_day'],
      dtype='object')

In [107]:
# Display values not containing following characters
df_2[~df_2['title'].str.contains(r'[a-zA-Z0-9,.()\s]')]

Empty DataFrame
Columns: [title, score, score_phrase, platform, genre, release_year, release_month, release_day]
Index: []

In [108]:
df_2[~df_2['score_phrase'].str.contains(r'[a-zA-Z0-9,.()\s]')]

Empty DataFrame
Columns: [title, score, score_phrase, platform, genre, release_year, release_month, release_day]
Index: []

In [109]:
df_2[~df_2['platform'].str.contains(r'[a-zA-Z0-9,.()\s]')]

Empty DataFrame
Columns: [title, score, score_phrase, platform, genre, release_year, release_month, release_day]
Index: []

In [110]:
df_2[~df_2['genre'].str.contains(r'[a-zA-Z0-9,.()\s]')]

Empty DataFrame
Columns: [title, score, score_phrase, platform, genre, release_year, release_month, release_day]
Index: []

In [111]:
df_2.dtypes

title             object
score            float64
score_phrase      object
platform          object
genre             object
release_year       int64
release_month      int64
release_day        int64
dtype: object

In [112]:
df_2.columns

Index(['title', 'score', 'score_phrase', 'platform', 'genre', 'release_year',
       'release_month', 'release_day'],
      dtype='object')

In [113]:
# Convert release_year, release_month, and release_day columns to integers
df_2['release_year'] = df_2['release_year'].astype(int)
df_2['release_month'] = df_2['release_month'].astype(int)
df_2['release_day'] = df_2['release_day'].astype(int)

In [114]:
df_2.dtypes

title             object
score            float64
score_phrase      object
platform          object
genre             object
release_year       int32
release_month      int32
release_day        int32
dtype: object

In [115]:
df_2.head(1)

,title,score,score_phrase,platform,genre,release_year,release_month,release_day
0,Checkered Flag,10.0,Masterpiece,Lynx,Racing,1999,7,6

In [116]:
# Display non-integer numbers
df_2[~(df_2['release_year'].astype(int) == df_2['release_year'])]

Empty DataFrame
Columns: [title, score, score_phrase, platform, genre, release_year, release_month, release_day]
Index: []

In [117]:
df_2[~(df_2['release_month'].astype(int) == df_2['release_month'])]

Empty DataFrame
Columns: [title, score, score_phrase, platform, genre, release_year, release_month, release_day]
Index: []

In [118]:
df_2[~(df_2['release_day'].astype(int) == df_2['release_day'])]

Empty DataFrame
Columns: [title, score, score_phrase, platform, genre, release_year, release_month, release_day]
Index: []

## Outliers

In [119]:
# Use z-score to check for outliers
z_score = np.abs(stats.zscore(df_2.select_dtypes(include=np.number)))
z_score

          score  release_year  release_month  release_day
0      1.780872      1.640707       0.039794     1.103708
1      1.780872      0.978162       0.615098     1.082257
2      1.780872      1.204229       0.039794     0.507003
3      1.780872      0.323445       0.902749     1.082257
4      1.780872      0.323445       0.902749     1.082257
...         ...           ...            ...          ...
18620  3.476219      2.077185       1.190401     0.528454
18621  3.476219      1.204229       0.902749     1.103708
18622  3.593043      0.541684       1.478052     0.528454
18623  3.651455      1.858946       0.823161     1.542460
18624  3.768280      0.767751       0.823161     1.427409

[18541 rows x 4 columns]

Z-score
- statistical measure that indicates how many standard deviations a data point is from the mean of the data set

±1 Standard Deviation (z ≈ -1 to 1)
-  68% of the data in a normal distribution falls within this range

±2 Standard Deviations (z ≈ -2 to 2)
- 95% of the data falls within this range

±3 Standard Deviations (z ≈ -3 to 3)
- 99.7% of the data falls within this range

Beyond ±3 Standard Deviations (z < -3 or z > 3)
- outliers

In [125]:
# outliers = some_operations_to_detect_outliers(df_2)

if 'outliers' in locals() and not outliers.empty:
    # If outliers DataFrame is not empty
    print("Outliers found:")
    # Concatenate outliers with corresponding z_scores and print the result
    outliers_with_z = pd.concat([outliers, z_scores.loc[outliers.index]], axis=1, keys=['Data', 'Z-Scores'])
    print(outliers_with_z)
else:
    # If outliers DataFrame is empty or not defined
    print("No outliers found.")

No outliers found.

In [127]:
df_2.to_csv('df_2.csv', sep=',', index=False)

In [128]:
df_2.shape

(18541, 8)

In [129]:
# Save df_2 to a CSV file
df_2.to_csv('df_2.csv', sep=',', index=False)