In [131]:
# Import pandas library
import pandas as pd

In [132]:
# Read uncleaned disney_movies.csv file
df_0 = pd.read_csv(r'C:\Users\ashwi\Documents\Data Analytics\QA\Data\Uncleaned\Disney_movies.csv', index_col=False)

In [133]:
# Attain dimensions
df_0.shape

(525, 24)

In [134]:
# Attain datatypes
df_0.dtypes

Unnamed: 0              int64
movie_name             object
Directed by            object
Story by               object
Based on               object
Produced by            object
Starring               object
Music by               object
Productioncompany      object
Distributed by         object
Release dates          object
Running time           object
Country                object
Language               object
Budget                 object
Box office             object
Narrated by            object
Cinematography         object
Release date           object
Written by             object
Edited by              object
Screenplay by          object
Countries              object
Productioncompanies    object
dtype: object

In [135]:
# Display columns as a List
list = df_0.columns.tolist()

In [136]:
# sort
sorted_list = sorted(list)

In [137]:
sorted_list

['Based on',
 'Box office',
 'Budget',
 'Cinematography',
 'Countries',
 'Country',
 'Directed by',
 'Distributed by',
 'Edited by',
 'Language',
 'Music by',
 'Narrated by',
 'Produced by',
 'Productioncompanies',
 'Productioncompany',
 'Release date',
 'Release dates',
 'Running time',
 'Screenplay by',
 'Starring',
 'Story by',
 'Unnamed: 0',
 'Written by',
 'movie_name']

## compare and delete duplicate columns

### productioncompanies & productioncompany

#### Length

In [138]:
prod_com = df_0['Productioncompanies']
len(prod_com)

525

In [139]:
prod_coms = df_0['Productioncompany']
len(prod_coms)

525

In [140]:
print(f'Length of productioncompanies: {len(prod_com)}')
print(f'Length of productioncompany: {len(prod_coms)}')

Length of productioncompanies: 525
Length of productioncompany: 525

#### Differences

In [141]:
diff_prod_com = prod_com[~prod_com.isin(prod_coms)]
diff_prod_coms = prod_coms[~prod_coms.isin(prod_com)]

In [142]:
print("\nValues in 'Productioncompanies' not in 'Productioncompany':")
print(diff_prod_com)

print("\nValues in 'Productioncompany' not in 'Productioncompanies':")
print(diff_prod_coms)

Values in 'Productioncompanies' not in 'Productioncompany':
144    ['Paramount Pictures', 'Walt Disney Production...
147    ['Paramount Pictures', 'Walt Disney Productions']
154     ['Walt Disney Productions', 'The Bryna Company']
156    ['Walt Disney Pictures', 'Silver Screen Partne...
157    ['Walt Disney Pictures', 'Walt Disney Pictures...
                             ...
519    ['Walt Disney Pictures', 'Marc Platt Productio...
520    ['Walt Disney Pictures', 'Pixar Animation Stud...
521    ['Walt Disney Pictures', ' Big Beach Films', '...
522    ['Walt Disney Pictures', 'Jerry Bruckheimer Fi...
523                 ['Walt Disney Pictures', 'Rideback']
Name: Productioncompanies, Length: 285, dtype: object

Values in 'Productioncompany' not in 'Productioncompanies':
16     ['RKO-Walt Disney British Productions Limited'...
18     ['RKO-Walt Disney British Productions Limited'...
20     ['RKO-Walt Disney British Productions Limited'...
22     ['RKO-Walt Disney British Productions', 'RKO-W...
48     ['Walt Disney Productions', 'Walt Disney Produ...
94     ['Walt Disney Productions', 'Robert Lawrence P...
196    ['Walt Disney Television Animation', 'Walt Dis...
220    ['Walt Disney Pictures', 'Walt Disney Pictures...
225    ['Walt Disney Pictures', 'Walt Disney Pictures...
242    ['Walt Disney Television Animation', 'Walt Dis...
244    ['Walt Disney Television Animation', 'Walt Dis...
270    ['Walt Disney Television Animation', 'Walt Dis...
272    ['Walt Disney Television Animation', 'Walt Dis...
290    ['Walt Disney Pictures', 'Walt Disney Pictures...
294      ['DisneyToon Studios', 'DisneyToon Studios[1]']
304      ['Disneytoon Studios', 'Disneytoon Studios[1]']
331      ['DisneyToon Studios', 'DisneyToon Studios[1]']
336                  ['Walden Media', 'Walden Media[1]']
367      ['Disneytoon Studios', 'Disneytoon Studios[1]']
373                            ['Stone Circle Pictures']
394                              ['Key Pix Productions']
396                              ['Key Pix Productions']
397    ['Walt Disney Pictures', 'Walt Disney Pictures...
404      ['DisneyToon Studios', 'DisneyToon Studios[1]']
425                               ['Disneytoon Studios']
Name: Productioncompany, dtype: object

In [143]:
specific_row_144 = df_0.iloc[144]
print(specific_row_144)

Unnamed: 0                                                           144
movie_name                                                 Popeye (film)
Directed by                                            ['Robert Altman']
Story by                                                             NaN
Based on                                       ['Popeye', 'E. C. Segar']
Produced by                                             ['Robert Evans']
Starring                            ['Robin Williams', 'Shelley Duvall']
Music by                                               ['Harry Nilsson']
Productioncompany                                                    NaN
Distributed by                             ['Buena Vista International']
Release dates          ['\nDecember\xa06,\xa01980\xa0(1980-12-06) (Lo...
Running time                                             ['114 minutes']
Country                                                ['United States']
Language                                                     ['English']
Budget                                                ['$20 million[1]']
Box office                                            ['$60 million[2]']
Narrated by                                                          NaN
Cinematography                                      ['Giuseppe Rotunno']
Release date                                                         NaN
Written by                                                           NaN
Edited by                                             ['John W. Holmes']
Screenplay by                                          ['Jules Feiffer']
Countries                                                            NaN
Productioncompanies    ['Paramount Pictures', 'Walt Disney Production...
Name: 144, dtype: object

#### Merging

In [144]:
# Compare values in 'Productioncompany' and 'Productioncompanies' columns
diff_mask = df_0['Productioncompany'] != df_0['Productioncompanies']
diff_df = df_0[diff_mask]

print("Differences between 'Productioncompany' and 'Productioncompanies':")
print(diff_df[['Productioncompany', 'Productioncompanies']])

Differences between 'Productioncompany' and 'Productioncompanies':
               Productioncompany  \
0    ['Walt Disney Productions']
1    ['Walt Disney Productions']
2    ['Walt Disney Productions']
3    ['Walt Disney Productions']
4    ['Walt Disney Productions']
..                           ...
520                          NaN
521                          NaN
522                          NaN
523                          NaN
524                          NaN

                                   Productioncompanies
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
520  ['Walt Disney Pictures', 'Pixar Animation Stud...
521  ['Walt Disney Pictures', ' Big Beach Films', '...
522  ['Walt Disney Pictures', 'Jerry Bruckheimer Fi...
523               ['Walt Disney Pictures', 'Rideback']
524                           ['Walt Disney Pictures']

[525 rows x 2 columns]

In [145]:
# Merge 'Productioncompany' and 'Productioncompanies' where 'Productioncompany' is NaN

df_0['Productioncompany'].fillna(df_0['Productioncompanies'], inplace=True)

In [146]:
# Drop the 'Productioncompanies' column

df_0.drop(columns=['Productioncompanies'], inplace=True)

In [147]:
# Print the updated DataFrame
print("\nUpdated Dataframe:")
#print(df_0)

Updated Dataframe:

In [148]:
list = df_0.columns.tolist()
sorted_list = sorted(list)
sorted_list

['Based on',
 'Box office',
 'Budget',
 'Cinematography',
 'Countries',
 'Country',
 'Directed by',
 'Distributed by',
 'Edited by',
 'Language',
 'Music by',
 'Narrated by',
 'Produced by',
 'Productioncompany',
 'Release date',
 'Release dates',
 'Running time',
 'Screenplay by',
 'Starring',
 'Story by',
 'Unnamed: 0',
 'Written by',
 'movie_name']

### Release date & Release dates

#### Length

In [149]:
rel_dat = df_0['Release date']
len(rel_dat)

525

In [150]:
rel_dats = df_0['Release dates']
len(prod_coms)

525

In [151]:
print(f'Length of release date: {len(rel_dat)}')
print(f'Length of release dates: {len(rel_dats)}')

Length of release date: 525
Length of release dates: 525

#### Differences

In [152]:
diff_rel_dat = rel_dat[~rel_dat.isin(rel_dats)]
diff_rel_dats = rel_dats[~rel_dats.isin(rel_dat)]

In [153]:
print("\nValues in 'rel_dat' not in 'rel_dats':")
print(diff_rel_dat)

print("\nValues in 'rel_dats' not in 'rel_dat':")
print(diff_rel_dats)

Values in 'rel_dat' not in 'rel_dats':
2       ['\nNovember\xa013,\xa01940\xa0(1940-11-13)\n']
3            ['June\xa027,\xa01941\xa0(1941-06-27)[1]']
7           ['\nJuly\xa017,\xa01943\xa0(1943-07-17)\n']
11     ['\nSeptember\xa027,\xa01947\xa0(1947-09-27)\n']
12               ['May\xa027,\xa01948\xa0(1948-05-27)']
                             ...
517         ['\nJune\xa014,\xa02024\xa0(2024-06-14)\n']
518     ['\nDecember\xa020,\xa02024\xa0(2024-12-20)\n']
519        ['\nMarch\xa021,\xa02025\xa0(2025-03-21)\n']
520         ['\nJune\xa013,\xa02025\xa0(2025-06-13)\n']
521                                        ['Sundance']
Name: Release date, Length: 323, dtype: object

Values in 'rel_dats' not in 'rel_dat':
0                             ['Carthay Circle Theatre']
1      ['Center Theatre', 'February\xa07,\xa01940\xa0...
4      ['October\xa023,\xa01941\xa0(1941-10-23) (New ...
5      ['London', 'August\xa09,\xa01942\xa0(1942-08-0...
6      ['August\xa024,\xa01942\xa0(1942-08-24) (Rio d...
                             ...
509                                    ['Dolby Theatre']
510                                           ['Cannes']
512                                           ['Cannes']
513                                       ['Disneyland']
515                               ['El Capitan Theatre']
Name: Release dates, Length: 195, dtype: object

In [154]:
specific_row_2 = df_0.iloc[2]
print(specific_row_2)

Unnamed: 0                                                           2
movie_name                                        Fantasia (1940 film)
Directed by          ['James Algar', 'Ben Sharpsteen', 'David D. Ha...
Story by                                  ['Joe Grant', 'Dick Huemer']
Based on                                                           NaN
Produced by                                            ['Walt Disney']
Starring                         ['Leopold Stokowski', 'Deems Taylor']
Music by                                                  ['See plot']
Productioncompany                          ['Walt Disney Productions']
Distributed by                                  ['RKO Radio Pictures']
Release dates                                                      NaN
Running time                                        ['126 minutes[1]']
Country                                              ['United States']
Language                                                   ['English']
Budget                  ['$2.28 million[2][3]', '$2.28 million[2][3]']
Box office           ['$76.4–$83.3 million (United States and Canad...
Narrated by                                           ['Deems Taylor']
Cinematography                                     ['James Wong Howe']
Release date           ['\nNovember\xa013,\xa01940\xa0(1940-11-13)\n']
Written by                                                         NaN
Edited by                                                          NaN
Screenplay by                                                      NaN
Countries                                                          NaN
Name: 2, dtype: object

#### Merging

In [155]:
# Compare values in 'Release date' and 'Release dates' columns
diff_mask = df_0['Release date'] != df_0['Release dates']
diff_df = df_0[diff_mask]

print("Differences between 'Release date' and 'Release dates':")
print(diff_df[['Release date', 'Release dates']])

Differences between 'Release date' and 'Release dates':
                                        Release date  \
0                                                NaN
1                                                NaN
2    ['\nNovember\xa013,\xa01940\xa0(1940-11-13)\n']
3         ['June\xa027,\xa01941\xa0(1941-06-27)[1]']
4                                                NaN
..                                               ...
520      ['\nJune\xa013,\xa02025\xa0(2025-06-13)\n']
521                                     ['Sundance']
522                                              NaN
523                                              NaN
524                                              NaN

                                         Release dates
0                           ['Carthay Circle Theatre']
1    ['Center Theatre', 'February\xa07,\xa01940\xa0...
2                                                  NaN
3                                                  NaN
4    ['October\xa023,\xa01941\xa0(1941-10-23) (New ...
..                                                 ...
520                                                NaN
521                                                NaN
522                                                NaN
523                                                NaN
524                                                NaN

[525 rows x 2 columns]

In [156]:
# Merge 'Release date' and 'Release dates' where 'Release date' is NaN

df_0['Release date'].fillna(df_0['Release dates'], inplace=True)

In [157]:
# Drop the 'Release dates' column

df_0.drop(columns=['Release dates'], inplace=True)

In [158]:
# Print the updated DataFrame
print("\nUpdated Dataframe:")
#print(df_0)

Updated Dataframe:

In [159]:
list = df_0.columns.tolist()
sorted_list = sorted(list)
sorted_list

['Based on',
 'Box office',
 'Budget',
 'Cinematography',
 'Countries',
 'Country',
 'Directed by',
 'Distributed by',
 'Edited by',
 'Language',
 'Music by',
 'Narrated by',
 'Produced by',
 'Productioncompany',
 'Release date',
 'Running time',
 'Screenplay by',
 'Starring',
 'Story by',
 'Unnamed: 0',
 'Written by',
 'movie_name']

### countries & country

#### Length

In [160]:
ctry = df_0['Country']
len(ctry)

525

In [161]:
ctries = df_0['Countries']
len(ctries)

525

In [162]:
print(f'Length of country: {len(ctry)}')
print(f'Length of countries: {len(ctries)}')

Length of country: 525
Length of countries: 525

#### Differences

In [163]:
diff_ctry = ctry[~ctry.isin(ctries)]
diff_ctries = ctries[~ctries.isin(ctry)]

In [164]:
print("\nValues in 'rel_dat' not in 'rel_dats':")
print(diff_rel_dat)

print("\nValues in 'rel_dats' not in 'rel_dat':")
print(diff_rel_dats)

Values in 'rel_dat' not in 'rel_dats':
2       ['\nNovember\xa013,\xa01940\xa0(1940-11-13)\n']
3            ['June\xa027,\xa01941\xa0(1941-06-27)[1]']
7           ['\nJuly\xa017,\xa01943\xa0(1943-07-17)\n']
11     ['\nSeptember\xa027,\xa01947\xa0(1947-09-27)\n']
12               ['May\xa027,\xa01948\xa0(1948-05-27)']
                             ...
517         ['\nJune\xa014,\xa02024\xa0(2024-06-14)\n']
518     ['\nDecember\xa020,\xa02024\xa0(2024-12-20)\n']
519        ['\nMarch\xa021,\xa02025\xa0(2025-03-21)\n']
520         ['\nJune\xa013,\xa02025\xa0(2025-06-13)\n']
521                                        ['Sundance']
Name: Release date, Length: 323, dtype: object

Values in 'rel_dats' not in 'rel_dat':
0                             ['Carthay Circle Theatre']
1      ['Center Theatre', 'February\xa07,\xa01940\xa0...
4      ['October\xa023,\xa01941\xa0(1941-10-23) (New ...
5      ['London', 'August\xa09,\xa01942\xa0(1942-08-0...
6      ['August\xa024,\xa01942\xa0(1942-08-24) (Rio d...
                             ...
509                                    ['Dolby Theatre']
510                                           ['Cannes']
512                                           ['Cannes']
513                                       ['Disneyland']
515                               ['El Capitan Theatre']
Name: Release dates, Length: 195, dtype: object

In [165]:
specific_row_2 = df_0.iloc[2]
print(specific_row_2)

Unnamed: 0                                                           2
movie_name                                        Fantasia (1940 film)
Directed by          ['James Algar', 'Ben Sharpsteen', 'David D. Ha...
Story by                                  ['Joe Grant', 'Dick Huemer']
Based on                                                           NaN
Produced by                                            ['Walt Disney']
Starring                         ['Leopold Stokowski', 'Deems Taylor']
Music by                                                  ['See plot']
Productioncompany                          ['Walt Disney Productions']
Distributed by                                  ['RKO Radio Pictures']
Running time                                        ['126 minutes[1]']
Country                                              ['United States']
Language                                                   ['English']
Budget                  ['$2.28 million[2][3]', '$2.28 million[2][3]']
Box office           ['$76.4–$83.3 million (United States and Canad...
Narrated by                                           ['Deems Taylor']
Cinematography                                     ['James Wong Howe']
Release date           ['\nNovember\xa013,\xa01940\xa0(1940-11-13)\n']
Written by                                                         NaN
Edited by                                                          NaN
Screenplay by                                                      NaN
Countries                                                          NaN
Name: 2, dtype: object

#### Merging

In [166]:
# Compare values in 'Release date' and 'Release dates' columns
diff_mask = df_0['Country'] != df_0['Countries']
diff_df = df_0[diff_mask]

print("Differences between 'Country' and 'Countries':")
print(diff_df[['Country', 'Countries']])

Differences between 'Country' and 'Countries':
               Country Countries
0    ['United States']       NaN
1    ['United States']       NaN
2    ['United States']       NaN
3    ['United States']       NaN
4    ['United States']       NaN
..                 ...       ...
520  ['United States']       NaN
521  ['United States']       NaN
522  ['United States']       NaN
523  ['United States']       NaN
524  ['United States']       NaN

[525 rows x 2 columns]

In [167]:
# Merge 'Country' and 'Countries' where 'Country' is NaN

df_0['Country'].fillna(df_0['Countries'], inplace=True)

In [168]:
# Drop the 'Countries' column

df_0.drop(columns=['Countries'], inplace=True)

In [169]:
# Print the updated DataFrame
print("\nUpdated Dataframe:")
#print(df_0)

Updated Dataframe:

In [170]:
list = df_0.columns.tolist()
sorted_list = sorted(list)
sorted_list

['Based on',
 'Box office',
 'Budget',
 'Cinematography',
 'Country',
 'Directed by',
 'Distributed by',
 'Edited by',
 'Language',
 'Music by',
 'Narrated by',
 'Produced by',
 'Productioncompany',
 'Release date',
 'Running time',
 'Screenplay by',
 'Starring',
 'Story by',
 'Unnamed: 0',
 'Written by',
 'movie_name']

In [171]:
# Save the DataFrame to a CSV file
df_0.to_csv('df_1.csv', index=False)