In [8]:
import pandas as pd

In [10]:
# Read uncleaned disney_movies.csv file
df_2 = pd.read_csv(r'C:\Users\ashwi\Documents\Data Analytics\QA\Data\Cleaned\Python\df_2.csv', index_col=False, sep=',')

In [11]:
df_2

,movie_name;Running time (min);Release date;Box office,Unnamed: 1,Unnamed: 2
0,Pinocchio (1940film);01:28;1940-02-07;16400000...,NaN,NaN
1,Fantasia (1940film);02:06;1940-11-13;76400000.00,NaN,NaN
2,The Reluctant Dragon (1941film);01:14;1941-06-...,NaN,NaN
3,Dumbo;01:04;1941-10-23;1300000.00,NaN,NaN
4,Bambi;01:10;1942-08-09;267399999.00,NaN,NaN
...,...,...,...
366,Chang Can Dunk;01:49;2023-03-10;,NaN,NaN
367,Peter Pan Wendy;01:49;2023-04-28;,NaN,NaN
368,Crater (film);01:45;2023-05-12;,NaN,NaN
369,Worlds Best (film);01:41;2023-06-23;,NaN,NaN
370,Dashing Through the Snow;01:30;2023-11-17;,NaN,NaN