In [44]:
import pandas as pd

In [67]:
# Read uncleaned disney_movies.csv file
df_1 = pd.read_csv(r'C:\Users\ashwi\Documents\Data Analytics\QA\Data\Cleaned\Python\df_1.csv', index_col=False)

In [68]:
df_1.shape

(525, 21)

In [69]:
df_1.dtypes

Unnamed: 0            int64
movie_name           object
Directed by          object
Story by             object
Based on             object
Produced by          object
Starring             object
Music by             object
Productioncompany    object
Distributed by       object
Running time         object
Country              object
Language             object
Budget               object
Box office           object
Narrated by          object
Cinematography       object
Release date         object
Written by           object
Edited by            object
Screenplay by        object
dtype: object

In [70]:
list = df_1.columns.tolist()
sorted_list = sorted(list)
sorted_list

['Based on',
 'Box office',
 'Budget',
 'Cinematography',
 'Country',
 'Directed by',
 'Distributed by',
 'Edited by',
 'Language',
 'Music by',
 'Narrated by',
 'Produced by',
 'Productioncompany',
 'Release date',
 'Running time',
 'Screenplay by',
 'Starring',
 'Story by',
 'Unnamed: 0',
 'Written by',
 'movie_name']

In [71]:
df_1.head(1)

,Unnamed: 0,movie_name,Directed by,Story by,Based on,Produced by,Starring,Music by,Productioncompany,Distributed by,...,Country,Language,Budget,Box office,Narrated by,Cinematography,Release date,Written by,Edited by,Screenplay by
0,0,Snow White and the Seven Dwarfs (1937 film),"['David Hand', 'Perce Pearce', 'Larry Morey', 'Wilfred Jackson', 'Ben Sharpsteen']","['Ted Sears', 'Earl Hurd', 'Merrill De Maris']","['Snow White', 'Brothers Grimm']",['Walt Disney'],"['Adriana Caselotti', 'Roy Atwell', 'Pinto Colvig', 'Otis Harlan', 'Scotty Mattraw', 'Billy Gilbert', 'Eddie Collins']","['Frank Churchill', 'Leigh Harline', 'Paul Smith']",['Walt Disney Productions'],['RKO Radio Pictures'],...,['United States'],['English'],['$1.5 million[1]'],['$418 million[2]'],NaN,NaN,['Carthay Circle Theatre'],NaN,NaN,NaN

## Remove leading [' and '] from columns

In [72]:
columns_to_rm_brack = ['Based on', 'Box office', 'Budget', 'Cinematography', 'Country', 'Directed by', 'Distributed by', 'Edited by', 'Language', 'Music by', 'Narrated by', 'Produced by', 'Productioncompany', 'Release date', 'Running time', 'Screenplay by', 'Starring', 'Story by', 'Unnamed: 0', 'Written by', 'movie_name']

# function
def clean_column(value):
    if isinstance(value, str) and value.startswith("['") and value.endswith("']"):
        return value[2:-2]
    return value

# apply fuctnion to the specified columns
for column in columns_to_rm_brack:
    df_1[column] = df_1[column].apply(clean_column)

#display cleaned df
df_1.head(1)

,Unnamed: 0,movie_name,Directed by,Story by,Based on,Produced by,Starring,Music by,Productioncompany,Distributed by,...,Country,Language,Budget,Box office,Narrated by,Cinematography,Release date,Written by,Edited by,Screenplay by
0,0,Snow White and the Seven Dwarfs (1937 film),"David Hand', 'Perce Pearce', 'Larry Morey', 'Wilfred Jackson', 'Ben Sharpsteen","Ted Sears', 'Earl Hurd', 'Merrill De Maris","Snow White', 'Brothers Grimm",Walt Disney,"Adriana Caselotti', 'Roy Atwell', 'Pinto Colvig', 'Otis Harlan', 'Scotty Mattraw', 'Billy Gilbert', 'Eddie Collins","Frank Churchill', 'Leigh Harline', 'Paul Smith",Walt Disney Productions,RKO Radio Pictures,...,United States,English,$1.5 million[1],$418 million[2],NaN,NaN,Carthay Circle Theatre,NaN,NaN,NaN

## Remove single and double quotes except apostrphes

In [73]:
pd.set_option('display.max_colwidth', None)  # Remove the column width limit

df_1['Release date']

0                                                                                                                                                                                                                                                  Carthay Circle Theatre
1      Center Theatre', 'February\xa07,\xa01940\xa0(1940-02-07) (Center Theatre)[2]\nFebruary\xa023,\xa01940\xa0(1940-02-23) (United States)[3]', 'February\xa07,\xa01940\xa0(1940-02-07) (Center Theatre)[2]\nFebruary\xa023,\xa01940\xa0(1940-02-23) (United States)[3]
2                                                                                                                                                                                                                             \nNovember\xa013,\xa01940\xa0(1940-11-13)\n
3                                                                                                                                                                                                                                  June\xa027,\xa01941\xa0(1941-06-27)[1]
4                                                                                                                                                                October\xa023,\xa01941\xa0(1941-10-23) (New York City)[1]\nOctober\xa031,\xa01941\xa0(1941-10-31) (U.S.)
                                                                                                                                      ...
520                                                                                                                                                                                                                               \nJune\xa013,\xa02025\xa0(2025-06-13)\n
521                                                                                                                                                                                                                                                              Sundance
522                                                                                                                                                                                                                                                                   NaN
523                                                                                                                                                                                                                                                                   NaN
524                                                                                                                                                                                                                                                                   NaN
Name: Release date, Length: 525, dtype: object

In [74]:
# List of columns to process
columns_to_process = ['Based on', 'Box office', 'Budget', 'Cinematography', 'Country', 
                      'Directed by', 'Distributed by', 'Edited by', 'Language', 'Music by', 
                      'Narrated by', 'Produced by', 'Productioncompany', 'Release date', 
                      'Running time', 'Screenplay by', 'Starring', 'Story by', 
                      'Written by', 'movie_name']

# Removing single and double quotes from the specified columns
for column in columns_to_process:
    df_1[column] = df_1[column].str.replace(r"[\"']", "", regex=True)

df_1.head(1)

,Unnamed: 0,movie_name,Directed by,Story by,Based on,Produced by,Starring,Music by,Productioncompany,Distributed by,...,Country,Language,Budget,Box office,Narrated by,Cinematography,Release date,Written by,Edited by,Screenplay by
0,0,Snow White and the Seven Dwarfs (1937 film),"David Hand, Perce Pearce, Larry Morey, Wilfred Jackson, Ben Sharpsteen","Ted Sears, Earl Hurd, Merrill De Maris","Snow White, Brothers Grimm",Walt Disney,"Adriana Caselotti, Roy Atwell, Pinto Colvig, Otis Harlan, Scotty Mattraw, Billy Gilbert, Eddie Collins","Frank Churchill, Leigh Harline, Paul Smith",Walt Disney Productions,RKO Radio Pictures,...,United States,English,$1.5 million[1],$418 million[2],NaN,NaN,Carthay Circle Theatre,NaN,NaN,NaN

## Null, Missing values, duplicates, datatypes

### Inspect the Data

In [75]:
# Display first few rows
df_1.head(2)

,Unnamed: 0,movie_name,Directed by,Story by,Based on,Produced by,Starring,Music by,Productioncompany,Distributed by,...,Country,Language,Budget,Box office,Narrated by,Cinematography,Release date,Written by,Edited by,Screenplay by
0,0,Snow White and the Seven Dwarfs (1937 film),"David Hand, Perce Pearce, Larry Morey, Wilfred Jackson, Ben Sharpsteen","Ted Sears, Earl Hurd, Merrill De Maris","Snow White, Brothers Grimm",Walt Disney,"Adriana Caselotti, Roy Atwell, Pinto Colvig, Otis Harlan, Scotty Mattraw, Billy Gilbert, Eddie Collins","Frank Churchill, Leigh Harline, Paul Smith",Walt Disney Productions,RKO Radio Pictures,...,United States,English,$1.5 million[1],$418 million[2],NaN,NaN,Carthay Circle Theatre,NaN,NaN,NaN
1,1,Pinocchio (1940 film),"Ben Sharpsteen, Hamilton Luske, Norman Ferguson, Jack Kinney, Wilfred Jackson, T. Hee","Ted Sears, Erdman Penner, Ted Sears\nOtto Englander\nWebb Smith\nWilliam Cottrell\nJoseph Sabo\nErdman Penner[1]\nAurelius Battaglia, Aurelius Battaglia","The Adventures of Pinocchio, Carlo Collodi",Walt Disney,"Cliff Edwards, Dickie Jones, Christian Rub, Walter Catlett, Charles Judels, Evelyn Venable, Frankie Darro","Leigh Harline, Ned Washington, Paul J. Smith",Walt Disney Productions,RKO Radio Pictures,...,United States,English,$2.6 million[4],$164\xa0million,NaN,NaN,"Center Theatre, February\xa07,\xa01940\xa0(1940-02-07) (Center Theatre)[2]\nFebruary\xa023,\xa01940\xa0(1940-02-23) (United States)[3], February\xa07,\xa01940\xa0(1940-02-07) (Center Theatre)[2]\nFebruary\xa023,\xa01940\xa0(1940-02-23) (United States)[3]",NaN,NaN,NaN